<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar Localidad</title>
</head>
<body>
    <h1>Modificar Localidad</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.nombre_localidad.label }}<br>
            {{ form.nombre_localidad(size=32) }}<br>
            {% for error in form.nombre_localidad.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
