<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar Provincia</title>
</head>
<body>
    <h1>Modificar Provincia</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.nombre_provincia.label }}<br>
            {{ form.nombre_provincia(size=32) }}<br>
            {% for error in form.nombre_provincia.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>